<div class="media-container media-header">
  <div class="media-object">
    <div class="media-body">
      <hgroup>
        <h1>Share your invites with friends<h1>
      </hgroup>
    </div>
  </div>

  <% invites.available.each do |invite| %>
    <%= render 'invites/invite', invite: invite %>
  <% end %>
</div>