$blue: #252C46;
$grey: #9295A2;
$light-grey: #EDEDED;
$white: #F2F2F2;
$red: #E85B4F;

$primary: $blue;
$light-primary: lighten($primary, 65%);

$body-color: $grey;

$link-color: $primary;
$link-hover-color: $body-color;