html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  @include border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 1em;
}
