<div class="media-object notification align-middle small-image">
  <div class="media-image">
    <%= render 'shared/avatar', user: notification.notifiable.user %>
  </div>

  <div class="media-object">
    <p><%= notification.notifiable.user.nickname %> replied to your <strong><%= link_to 'comment', comment_path(notification.notifiable) %></strong>.</p>
  </div>
</div>
