<div class="media-object media-header">
  <div class="media-body">
    <hgroup>
      <h1><a href=""><%= @user.nickname %></a></h1>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete if @user == current_user %>
    </hgroup>
  </div>

  <div class="media-image">
    <%= render 'shared/avatar', user: @user %>
  </div>
</div>

<% @user.posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
