<div class="media-object media-header">
  <div class="media-body">
    <hgroup>
      <h1><a href=""><%= @user.nickname %></a></h1>
      <span>You have <%= pluralize(@user.notifications.count, 'notification') %>.</span>
    </hgroup>
  </div>

  <div class="media-image">
    <%= render 'shared/avatar', user: @user %>
  </div>
</div>

<% @user.notifications.each do |notification| %>

<% end %>

<% @user.posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
