.button {
  border: none;
  background: $blue;
  border: 1px solid $blue;
  color: $white;
  padding: 0.8em 1.6em;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
    background: lighten($blue, 10%);
  }

  &:focus {
    outline: 0;
  }
}

.button-right {
  float: right;
}

input.button {
  font-size: 12px;
}

a.button {
  padding: 0.5em 1.2em;

  &:hover {
    color: $white;
  }
}
