@mixin field {
  width: 100%;
  border: 1px solid transparent;
  background: $white;
  margin-bottom: 1em;
  -webkit-transition: border 0.3s ease-out, opacity 0.3s ease-out;
  -moz-transition: border 0.3s ease-out, opacity 0.3s ease-out;
  transition: border 0.3s ease-out, opacity 0.3s ease-out;
  font-size: 1em;

  &::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  &:focus {
    outline: 0;
    border: 1px solid lighten($grey, 20%);

    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

form {
  overflow: hidden;
  margin-bottom: 2em;
}

textarea {
  @include field;
  height: 5em;
  padding: 1em;
}

.input {
  @include field;
  padding: 0.6em 1em;
}

.helper-text {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.checkbox label.inline {
  padding-left: 0.3em;
}
