@mixin field {
  width: 100%;
  border: 1px solid $light-grey;
  background: $white;
  border-radius: 2px;
  margin-bottom: 1em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 1em;

  &::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  &:focus {
    outline: 0;
    border: 1px solid lighten($grey, 20%);

    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

textarea {
  @include field;
  height: 5em;
  padding: 1em;
}

.input {
  @include field;
  padding: 0.6em 1em;
}

.field_with_errors .input {
  border: 1px solid $blue;
}
