.icon-vote {
  border: 0;
  width: 0;
  height: 0;
  background: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid $primary;

  &:hover {
    cursor: pointer;
  }
}

.icon-voted {
  border-bottom: 12px solid $light-primary;

  &:hover {
    cursor: auto;
  }
}
