.media-container {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $light-grey;
}

.media-object {
  @include flexbox;
  @include align-items(flex-start);

  .media-prefix {
    margin-right: 1em;
  }

  .media-image {
    margin-left: 1em;
  }

  .media-body {
    @include flex(1);

    hgroup {
      margin-bottom: 10px;
      h1 {
        line-height: 1.2;
        margin-right: 0.4em;
        span, a {
          line-height: 1;
        }
      }
    }
  }

  &.align-middle {
    @include align-items(center);
  }

  &.small-image .avatar {
    width: 40px;
    height: 40px;
  }
}

.media-header .media-body hgroup {
  margin-bottom: 2em;
}
