.media-object {
  @include flexbox;
  margin-bottom: 2em;

  .media-image {
    margin-left: auto;
  }

  .media-body {
    max-width: 80%;

    hgroup {
      margin-bottom: 10px;
      h1 {
        line-height: 1.2;
        margin-right: 0.4em;
        span, a {
          line-height: 1;
        }
      }
    }
  }

  .media-full {
    max-width: 100%;
  }
}

.media-header {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $light-grey;
}
