body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $primary;
  font-weight: 300;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover { color: $link-hover-color; }
}

a.invert {
  color: $link-hover-color;

  &:hover { color: $link-color; }
}

.i { font-style: italic; }

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
