<section class="container">
  <header>
    <div data-click="/" class="brand">
      <div class="logo"></div>
      <hgroup>
        <h1>the welly wag</h1>
        <p>wellington's community news</p>
      </hgroup>
    </div>

    <%= render 'shared/navigation' %>
  </header>
</section>
