<nav>
  <%= link_to 'Make a post', new_post_path %>

  <% if current_user %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</nav>
