<nav class="main">
  <ul>
    <% if current_user %>
      <li><%= link_to 'Make a post', new_post_path %></li>
      <li><%= render 'shared/avatar', user: current_user, notifications: current_user.notifications %></li>
    <% else %>
      <li><%= link_to 'Join', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
