.notification {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.notification-badge {
  min-width: 18px;
  border-radius: 20px;
  padding: 2px;
  padding-left: 1px;
  background: $red;
  position: absolute;
  right: -18px;
  top: -8px;
  text-align: center;
  font-size: 12px;
  color: $white;
  line-height: 1.2;
}
