<%= render 'posts/post', post: @post %>

<%= render 'comments/form', post: @post, comment: @comment %>

<div class="comments">
  <%= render 'comments/comments', comments: @post.comments.root.ranked %>
</div>
