<div class="media-container">
  <%= render 'posts/post', post: @post %>
</div>

<%= render 'comments/form', post: @post, parent: @post %>

<div class="comments">
  <%= render 'comments/comments', comments: @post.comments.root.ranked %>
</div>
